#board {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

#board div {
    width: 40px;
    height: 40px;
}

.snake {
    background-color: blue;
    border: 1px solid black;
    box-sizing: border-box;
}